body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  background-color: #F0D1AC;
  color: #661414;
}

header h1 {
  font-size: 36px;
  font-family: 'Gloria Hallelujah', cursive;
  margin-left: 10%;
}

a {
  text-decoration: none;
  color: #661414;
}

p {
  color: black;
}

button {
  height: 32px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

button:hover {
  cursor: pointer;
}

/* Add a background color to the top navigation */
.topnav {
  background-color: #FFF3D4;
  overflow: hidden;
  color: black;
}

/* Style the links inside the navigation bar */
.topnav a {
  color: black;
  text-align: center;
  padding: 10px 16px;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #FFC2A0;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #F8945C;
  color: white;
}

/* align topbar */
.topnav a.navleft {
  float: left;
}

.topnav a.navright {
  float: right;
}

#home {
  margin-left:8%;
}

#cart {
  margin-right:8%;
}

.grid-container {
  margin: 4% 8%;
  display: grid;
  grid-column-gap: 6%;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
}

.home-col1 {
  grid-column-start: 1;
  grid-column-end: 2;

}

#home-img {
  border-radius: 10px;
  width: 300px;
  float: right;
}

.home-col2 {
  width: 400px;
  grid-column-start: 2;
  grid-column-end: 3;
}

h3 {
  font-family: 'Zilla Slab', serif;
  font-size: 30px;
  margin-top: 0px;
  font-weight: normal;
}

#desc {
  margin-top: -30px;
  margin-bottom: -15px;
}

h4 {
  font-family: 'Zilla Slab', serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 0.1em;
}

.selected {
  font-weight: bold;
}

.home-col2 p {
  padding-bottom: 15px;
}

.home-col2 a {
  font-size: 36px;
  font-family: 'Gloria Hallelujah', cursive;
  background-color: #FFF3D4;
  border-radius: 15px;
  padding: 8px 70px;
}

#store-title {
  margin-left: 8%;
  margin-top: 15px;
  margin-bottom: 10px;
}

hr {
  margin-left: 3%;
  margin-right: 3%;
}

#subtotal {
  margin: -5px 0px 10px 0px;
  height: 0px;
  border-top: 0.1px solid #661414;
}

.price {
  margin-right: 35px;
  float: right;
}

.main-shop-grid {
  margin: 4% 8%;
  display: grid;
  justify-content: space-around;
  grid-template-columns: 2fr 10fr 1fr;
}

.shop-col1 {
  grid-column-start: 1;
  grid-column-end: 2;
}

.itemgrid {
  background-color: #661414;
  border: 1px solid #661414;
  grid-gap: 1px;
  grid-column-start: 2;
  grid-column-end: 3;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.itemgrid p {
  color: #661414;
  font-family: 'Zilla Slab', serif;
  font-size: 20px;
}

.store-item {
  padding: 35px 35px 10px 35px;
  background-color: #F6DEC1;
}

.price {
  float: right;
}

.store-item img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.store-item a:hover {
  text-decoration: underline;
}

.select-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.select-size {
  background-color: #F6DEC1;
  border: 1px solid #661414;
  padding: 5px;
  margin: 0px 10px 0px 10px;
}

.select-size.active {
  background-color: #FFF3D4;
  border: 1px solid #E24E4E;
}

.select-color {
  height: 30px;
  margin: 0px 10px 8px 10px;
  border: 2px solid #661414;
  opacity: 0.5;
}

.select-color.active {
  opacity: 1;
  border-color: #FFF3D4;
}

#strawberry {
  background-color: #FE5D7A;
}

#blackberry {
  background-color: #2F3251;
}

#crazyberry {
  background-color: #93BFE8;
}

#fire-orange {
  background-color: #FF9A61;
}

.add-cart {
  text-decoration: none;
  color: #661414;
  height: 100px;
  border: none;
  font-size: 36px;
  font-family: 'Gloria Hallelujah', cursive;
  background-color: #FFF3D4;
  border-radius: 15px;
  padding: 8px 70px;
}

.cart-grid {
  margin: 4% 8%;
  display: grid;
  justify-content: center;
  grid-template-columns: 3fr 1fr;
}

.cart-item {
  border-bottom: 1px solid #661414;
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding: 20px 0px 15px 0px;
  margin: 2px;
}

.cart-item img {
  max-width: 100%;
  width: 150px;
  border-radius: 10px;

}

#first-item {
  border-top: 1px solid #661414;
}

.remove-item {
  margin-right: 35px;
  text-decoration: underline;
  float: right;
}

.cart-item-info {
  margin-left: 20px;
}

.cart-total {
  width: 300px;
  padding-left: 30px;
  border-left: 1px solid #661414;
}

.cart-qty {
  margin-top: -10px;
  margin-bottom: -10px;
}

.right {
  float: right;
}